CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
*.elf
*.so
*.map
*.o
*.a
*.zip
*.iso
*callgraph.png
miniz-*
*.233r.expand
.gdbinit
cscope.out
newland-config.h
test.sh
run.sh
mkcallgraph.sh
buildman.sh
lint.sh
manual.md
**/docs/html/**
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile.*
uploadman.sh
wiki
**/rootfs/rootfs
**/initrd/initrd
**/rootfs/copyrootfs.sh
**/init/init
**/hello/hello
**/tools/nvk/nvk
**/config-all-devices.mak
**/aarch64-softmmu/
**/aarch64eb-softmmu/
**/arm-softmmu/
**/armeb-softmmu/
**/m68k-softmmu/
**/mips64el-softmmu/
**/mips64-softmmu/
**/mipsel-softmmu/
**/mips-softmmu/
**/sparc64-softmmu/
**/sparc-softmmu/
**/i386-softmmu/
**/x86_64-softmmu/
**/qapi-types.h
**/qapi-visit.h
**/qapi-types.c
**/qapi-visit.c
tags
**/config-host.ld
**/config.log
**/config.status
**/config-host.h
**/config-host.h-timestamp
**/config-host.mak
**/unicorn/sample_*
**/unicorn/shellcode
libunicorn*.dll
libunicorn*.so*
libunicorn*.dylib
unicorn.pc
unicorn.lib
unicorn.dll
unicorn.exp
unicorn.def
unicorn_*.lib
unicorn_*.exp
unicorn_*.dll
*.tgz
*.zip
*.pyc
_*.txt
_*.diff
**/unicorn/mem_apis
tmp/
config.log
genlinker.sh
nvk.ld
**/sdlinux/packages/*/build
**/sdlinux/packages/busybox/config
**/sdlinux/packages/musl/config.mak
**/sdlinux/packages/musl/musl-gcc.specs
**/sdlinux/packages/unicorn/unicorn-*
**/sdlinux/*.pkg.sh
**/sdlinux/initrd
**/sdlinux/buildfs
**/sdlinux/rootfs
toolchain.cmake
geninitrd.sh
**/toolchain/build-*
**/toolchain/*.sh
**/toolchain/crossroot/
toolchain.sh