CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
*.elf
*.so
*.map
*.o
*.a
*.zip
*.iso
*callgraph.png
miniz-*
*.233r.expand
.gdbinit
cscope.out
newland-config.h
test.sh
run.sh
mkcallgraph.sh
builddocs.sh
lint.sh
doc.md
uploaddocs.sh
wiki
**/rootfs/rootfs
**/initrd/initrd
**/rootfs/copyrootfs.sh
**/init/init
**/hello/hello
