CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
*.elf
*.so
*.o
*.a
*.zip
miniz-*
*.233r.expand
.gdbinit
newland-config.h
test.sh
run.sh